<ion-header>
  <ion-toolbar>
    <ion-title>Amigos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Lista de amigos</h3>
  <ion-list *ngFor="let friend of friends">
    <ion-item>
      <ion-label>nome: {{friend.nome}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>idade: {{friend.idade}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> nivel de amizade: {{friend.nivelAmizade}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon (click)="presentActionSheet()" name="add-circle-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>